body {
    background-color: rgb(242, 242, 242);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: sans-serif;
    padding: 0 20%;
    height:  100px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #096e09;
}

nav .logo {
    float:left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgb(14, 100, 6);
    font-weight: bold;
    text-transform: uppercase;
}

nav .list {
    float:right;
    padding: 0%;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .list li {
    list-style: none;
   
}

nav .list li a {
   display: block;
   text-transform: uppercase;
   padding: 15px;
   font-size: 16px;
   font-weight: bold;
   color: rgb(0, 0, 0);
   text-decoration: none;

}

nav .list li a:hover {
    border-bottom: 4px solid rgb(17, 129, 7);
   
}

#toggle {
    position: absolute;
    top: -100px;

}

nav .icon-bars{
    display: none   ;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

section {
  min-height: 100vh; /* ocupa toda la altura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.blanco {
  background: rgb(242, 242, 242);
  
}

.gris {
  background: rgb(255, 255, 255);
  
}

.circle-1 {
    height: 180px;
    width: 180px;
    border: 1px solid rgb(34, 122, 12);
    border-radius: 5000px;
    margin: 250px auto 0 auto;
}

.circle-2 {
    text-align: center;
}
.circle-2 img {
    height: 180px;
    width: 180px;
    
    border-radius: 5000px;
    margin: 250px auto 0 auto;
}

.circle-1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.texto{
    
  color: rgb(14, 100, 6);
  font-size: 100px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 15px;


}

.texto1{
    
  color: rgb(114, 114, 114);
  font-size: 25px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 15px;


}

.btn-center {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 22px 40px;
  background: rgb(14, 100, 6);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 50px;
  transition: transform 0.25s ease, box-shadow 0.25s ease, backround 0.25s ease;
}

.btn:hover {
  background: rgb(5, 192, 130);
  transform: translateY(-4px) scale(1.03);
  box-shadow: 0 12px 30px rgba(16, 146, 16, 0.35);
}



@media (max-width: 768px) {

    nav {
        padding: 0 5%;
    }

    nav .logo {
        width: 70%;
        font-size: 24px;
    }

    nav .icon-bars {
        display: block;
        font-size: 35px;
        cursor: pointer;
    }

    nav .list {
        position: fixed;
        left: 0;
        right: 0;
        top: 100px;
        width: 100%;
        height: calc(100vh - 100px);
        background: white;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;

        /* 👇 CLAVE */
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    nav .list li a {
        font-size: 22px;
    }

    /* cuando se abre */
    #toggle:checked ~ .list {
        max-height: 100vh;
    }
}
.footer {
  margin-top: 80px;
  padding: 20px 10px;
  text-align: right;
  font-size: 14px;
  color: #020000;
  background: #ffffff;
  border-top: 1px solid #096e09;
}
